# IntelliJ Idea artifacts:
out/

# IntelliJ Idea local configuration:
.idea/workspace.xml

# Gradle temporary and output files:
.gradle
build/

# Experiment files:
*.exp
*.history

# OS X files:
.DS_Store
