# Experiment files:
*.exp

# Eclipse files:
.classpath
.project
.settings/
build/
bin/

# IntelliJ Idea files:
narjillos.iml
narjillos.ipr

# OS X files:
.DS_Store

# Gradle files:
.gradle/

# OS files:
.DS_Store
