# Experiment files:
*.exp
*.history

# Eclipse files:
.classpath
.project
.settings/
build/
bin/

# IntelliJ Idea files:
narjillos.iml
narjillos.ipr
narjillos.iws
out/

# NetBeans files
.nb-gradle/
.nb-gradle-properties

# OS X files:
.DS_Store

# Gradle files:
.gradle/

# OS files:
.DS_Store
